export JWT_SECRET_KEY=PB6TO-KWlr8kleFanzjB3w3VHYUv7iqfihKscU-5puuvl2VgvR8BCP3w6ZD5-K5b3_HfTeQ8ZNsHcA16M2Z1Ail8WVYq3kvqTXyZGfjGuZ-wKdth
export CORS_ORIGINS=http://localhost
export DATABASE_URL=postgresql+asyncpg://postgres:postgres@db:5432/link_forge?ssl=disable
